* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: solid 1px black;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.60fr 3fr;
    grid-template-rows: 1fr 4fr;
}

div.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: auto 1fr;
}

div.sidebar div.nav-wrapper {
    display: grid;
    grid-template-rows: 2fr 3fr;
}

div.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

div.header div.user-search {
    display: grid;
    grid-template-columns: 4fr 2fr;
    
}

div.header div.user-search div {
    display: flex;
}

div.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 3fr  1fr;
    grid-template-rows: 1fr 1fr;
}

div.main-content div.project-content {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

div.project-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}