@font-face {
    font-family: 'pt_sansbold';
    src: url('PTS75F-webfont.eot');
    src: url('PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS75F-webfont.woff2') format('woff2'),
         url('PTS75F-webfont.woff') format('woff'),
         url('PTS75F-webfont.ttf') format('truetype'),
         url('PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS55F-webfont.woff2') format('woff2'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype'),
         url('PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "pt_sansregular", Georgia, 'Times New Roman', Times, serif;

    --main-content-color: #D7D0C8;
    --heading-text-color: rgb(68, 64, 64);
    --post-text-color: #C8C6AF;
    --sidebar-color: #F87666;
    --project-tab-color: #BD897E;
    --shadow-color: #95A78D;
}

h1, h2, h3, h4, h5 {
    font-family: "pt_sansbold", Georgia, 'Times New Roman', Times, serif;
    color: var(--heading-text-color);
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.60fr 3fr;
    grid-template-rows: 1fr 4fr;
    border: none;
}

div.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: auto 1fr;

    background-color: var(--sidebar-color);
}

div.sidebar div.nav-wrapper {
    display: grid;
    grid-template-rows: 2fr 3fr;
}

div.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

div.header div.user-search {
    display: grid;
    grid-template-columns: 4fr 2fr;
    
}

div.header div.user-search div {
    display: flex;
}

div.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 3fr  1fr;
    grid-template-rows: 1fr 1fr;

    background-color: var(--main-content-color);
    padding-top: 15px;
}

div.main-content div.project-content {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

div.announcement-content {
    background-color: white;
    border-radius: 7px;
}

div.trending-content {
    background-color: white;
    border-radius: 7px;
}

div.project-gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(20%, 500px));
    grid-template-rows: repeat(3, minmax(10%, 250px));
    gap: 30px;

    margin: 30px;
}

div.project-gallery div.project-card {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: 0.4fr 2fr 0.5fr;
    background-color: white;
    border-radius: 7px;
}

div.project-card h2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.card-tab {
    background-color: var(--project-tab-color);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.project-symbols {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}